$color_1:#ff4081;

.col{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin-left: 70px;
    border-radius: 5px;
    display: inline-block;
    width: 242px;
    height: 31rem;
}
.side-nav-bar {
    height: 470px;
    margin: 20px 12px;
    overflow: hidden;

}

.scrollbar:hover {
    overflow-y: scroll;
}

.side-nav-bar button {
    width: 130px;
    height: 40px;
    border-radius: 50px;
    margin: 10px 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: #512da8;
    display: inline-block;

}

.main h3 {
    font: 400 16px / 28px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 15px 0px 0px 15px;
}

mat-list {
    // margin-left: 15px;
    text-transform: capitalize;
    margin-top: -20px;

}
mat-list-item{
    margin:3%;
    font-size: 10px;
}

mat-icon {
    padding-right: 32px;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:$color_1;    
}
.mat-list-item:active{
    background-color:$color_1;
    border-radius:30px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100px;
    height: 40px;
    transition: all .5s ease;
    margin-left: -10px;
}


// .active{
//     background-color: #ff4081;
//     border-radius:30px;
//     border-top-right-radius: 50px;
//     border-bottom-right-radius: 50px;
//     width: 100px;
//     height: 40px;
//     transition: all .5s ease;

// }

