<div class="row">
    <div class="col card_header">
        <div class="card_title">
            <mat-list>
                <h3><mat-list-item><mat-icon>message</mat-icon>Message</mat-list-item></h3>
            </mat-list>
        </div>
        <div class="vr"></div>
        <div class="card_searchbar col-8">

            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search in mails..." aria-label="Search"
                    aria-describedby="search-addon" [(ngModel)]="searchText" />
            </div>
            <h1>{{searchText}}</h1>
        </div>
            <div class="notification col">
                <mat-icon>room_service</mat-icon>
            </div>

        
    </div>


</div>