
    <mat-toolbar>
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)=" toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

      <div class="container mt-4">
        <div class="row">
          <div class="col">
            <div class="input-group">
                <div class="form-outline">
                  <input type="search" id="form1" class="form-control" placeholder="search in app" />
                  <label class="form-label" for="form1"></label>
                </div>
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-search">Search</i>
                </button>
                
              </div>
          </div>
          <div class="col">
            <div class="row">
                <div class="col app"><mat-icon>apps</mat-icon>Apps</div>
                <div class="col "><mat-icon> message</mat-icon></div>
                    <div class="col"><mat-icon>notifications_none</mat-icon></div>
                <div class="col">col</div>
                <div class="col">col</div>
              </div>
          </div>
        </div>
        </div>
  </mat-toolbar>
