.container-flex{
    background-color: white;
    margin: -10px -20px;
}

.content-bar{
    display: flex;
    justify-content: flex-start;
}
.content{
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
width: 60.7rem;
border-radius: 5px;
height: 31rem;
margin-left: 1px;
overflow-y:scroll;
}
.content_header{
    display: flex;
    justify-content: flex-start;
    margin: 35px 0px 0px 40px;
      
}
.form-check-input{
    width: 20px;
    height: 20px;
}
button{
    margin-left: 10px;
    border: none;
    font-size: 15px;
    background-color: transparent;
    padding-top: 4px;
}
svg{
    margin-left: 7px;
    color: grey;
}
hr{
    width: 55.3rem;
    height: 2.4px;
    background-color:grey;
    margin-left: 40px;
}