button{
    color: #fff;
    background-color: #ff4081;
    margin-top: 20px;
    height: 30px;
    margin-left: 10px;
    font-size: 10px;
    font-weight: bolder;
    width: 90px;
    
    
}
img{
    width: 13rem;
    height: 150px;
    border-radius: 10px;
    align-items: flex-end;
    
}
.card{
    margin-top: 40px;
   height: 150px;
   border-radius: 10px;
   width: 200px;
  

}
.text{
    display: flex;
    justify-content: space-between;
}
.Properties_data{
margin-top:-130px;
margin-left: 10px;
}
a{
    text-decoration: none;
}