@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: 'Muli',sans-serif;
    font-family: 18px;
}
li{
    list-style: none;
}